body {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    text-align: justify;
    background-color: #fff7e6;
}

header {
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #007246;
    padding: 0;
    flex: 1;
    transition: all 0.3s ease;
    position: fixed;
}

h1 {
    color: #fff;
    text-align: center;
    display: block;
    background-color: #007246;
    padding: 20px;
    margin: 0;
    margin-left: 200px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px; 
}

nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    background-color: #e0f4e3;
    color: #005c1f;
}

main {
    padding: 20px;
    display: inline;
    flex: 4;
    background-color: #f5f5dc;
    margin-left: 200px;
}

section {
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #007246;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #007246;
}

th, td {
    padding: 12px;
    border: 1px solid #007246;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #005c1f;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #007246;
}

.galeria {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.galeria img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #007246;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0f4e3;
    padding: 10px;
}

.footer-content svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.footer-content a {
    color: #007246;
}

.contenedor {
    display: flex;
    margin-top: 0;
}
